// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 */
/dts-v1/;
#include "rv1126.dtsi"
#include "rv1126-evb-v12.dtsi"
/ {
	model = "RV1126 V13 FACIAL GATE Board";
	compatible = "rockchip,rv1109-evb-ddr3-v12-facial-gate", "rockchip,rv1126";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff570000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait snd_aloop.index=7";
	};

	pwmleds {
		compatible = "pwm-leds";

		pwmi_ir {
			label = "ir";
			pwms = <&pwm5 0 25000 0>;
			max-brightness = <255>;
		};

		pwmi_light {
			label = "light";
			pwms = <&pwm4 0 25000 0>;
			max-brightness = <255>;
		};
	};

    gpio-leds {
        compatible = "gpio-leds";

        relay {
            label = "relay";
            gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>;
        };
    };

	vcc5v0_dev: vcc5v0-dev {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_dev";
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_avdd: vcc-avdd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_avdd";
		gpio = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
        regulator-boot-on;
        vin-supply = <&vcc_3v3>;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};

	vcc4v0_lte: vcc4v0-lte {
		compatible = "regulator-fixed";
		regulator-name = "vcc4v0_lte";
		gpio = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
	};
};

&pinctrl {
    lcd_rst {
        lcd_rst_gpio: lcd-rst-gpio {
            rockchip,pins = <0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    dev_pwr {
        dev_pwr_en: dev-pwr-en {
            rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};

&pwm2 {
	status = "okay";
};

&pwm5 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm5m0_pins_pull_down>;
};

&backlight {
    pwms = <&pwm2 0 25000 0>;
	status = "okay";
};

&vcc18_lcd_n {
    gpio = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;
    vin-supply = <&vcc3v3_sys>;
};

&dsi {
	status = "okay";

    rockchip,lane-rate = <480>;
	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&vcc18_lcd_n>;
		prepare-delay-ms = <5>;
		reset-delay-ms = <1>;
		init-delay-ms = <80>;
		disable-delay-ms = <10>;
		unprepare-delay-ms = <5>;

        reset-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default";
        pinctrl-0 = <&lcd_rst_gpio>;

		width-mm = <107>;
		height-mm = <172>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

        panel-init-sequence = [
			15 00 02 ee 50
			39 00 03 ea 85 55
			15 00 02 30 00
			39 00 04 39 02 07 10
			39 00 03 90 a1 b1
			15 00 02 24 20
			15 00 02 99 00
			15 00 02 93 38
			15 00 02 95 74
			15 00 02 97 05
			15 00 02 7a 00
			15 00 02 ee 60
			15 00 02 21 01
			15 00 02 25 70
			15 00 02 27 24
			15 00 02 29 89
			15 00 02 2a 26
			15 00 02 30 01
			15 00 02 34 2f
			15 00 02 3a a4
			15 00 02 3b 00
			15 00 02 3c 45
			15 00 02 3d 11
			15 00 02 3e 93
			15 00 02 42 55
			15 00 02 43 55
			15 00 02 7f 24
			15 00 02 80 24
			15 00 02 89 55
			15 00 02 8b 90
			15 00 02 8d 45
			15 00 02 91 11
			15 00 02 92 22
			15 00 02 93 93
			15 00 02 9a 00
			15 00 02 9c 80
			39 00 06 5a 15 2f 38 41 42
			39 00 06 47 15 2f 38 41 42
			39 00 06 4c 4f 4a 5f 47 49
			39 00 06 5f 4f 4a 5f 47 49
			39 00 06 64 4b 2f 41 39 43
			39 00 06 51 4b 2f 41 39 43
			39 00 05 69 45 4f 5e 7f
			39 00 05 56 45 4f 5e 7f
			15 00 02 ee 70
			39 00 06 00 01 04 00 01 05
			39 00 06 05 08 55 01 00 00
			39 00 06 0a 00 00 05 5a 00
			39 00 06 10 03 06 00 01 00
			39 00 06 15 00 0f 0d 08 00
			39 00 03 29 05 5a
			39 00 06 30 08 07 55 7d 5d
			39 00 06 35 08 07 08 55 7d
			39 00 03 3a 5d 08
			39 00 06 60 3f 3c 20 21 10
			39 00 06 65 12 14 16 00 3c
			39 00 06 6a 3c 3c 3c 3c 3c
			39 00 06 6f 04 3c 3c 3c 3c
			39 00 03 74 3c 3c
			39 00 06 80 3f 3c 20 21 11
			39 00 06 85 13 15 17 01 3c
			39 00 06 8a 3c 3c 3c 3c 3c
			39 00 06 8f 05 3c 3c 3c 3c
			39 00 03 94 3c 3c
			15 00 02 ee 50
			39 00 03 ea 7a aa
			39 00 03 ea 00 00
			15 00 02 ee 00
			05 64 01 11
			05 64 01 29
            ];

        display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <77000000>;
				hactive = <800>;
				vactive = <1280>;
				hfront-porch = <140>;
				hsync-len = <20>;
				hback-porch = <20>;
				vfront-porch = <9>;
				vsync-len = <4>;
				vback-porch = <8>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&csi_dphy0 {
	status = "okay";
	ports {
		port@0 {
			mipi_in_ucam0: endpoint@1 {
				remote-endpoint = <&ucam_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			csidphy0_out: endpoint@0 {
				remote-endpoint = <&mipi_csi2_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi_dphy1 {
	status = "okay";
	ports {
		port@0 {
			csi_dphy1_input: endpoint@1 {
				remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			csi_dphy1_output: endpoint@0 {
				remote-endpoint = <&isp_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&i2c1 {
    /delete-node/ ar0230@10;
    /delete-node/ os04a10@36;
    /delete-node/ ov4689@36;

	gc2093: gc2093@7e {
		compatible = "galaxycore,gc2093";
		reg = <0x7e>;
		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&mipicsi_clk1>;
		avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;
        pwdn-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_LOW>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			ucam_out1: endpoint {
				remote-endpoint = <&csi_dphy1_input>;
				data-lanes = <1 2>;
			};
		};
	};

	gc2053: gc2053@37 {
		compatible = "galaxycore,gc2053";
		reg = <0x37>;

		clocks = <&cru CLK_MIPICSI_OUT>;
		clock-names = "xvclk";

		power-domains = <&power RV1126_PD_VI>;
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&mipicsi_clk0>;
		pwdn-gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio2 RK_PA1 GPIO_ACTIVE_LOW>;

		avdd-supply = <&vcc_avdd>;
		dovdd-supply = <&vcc_dovdd>;
		dvdd-supply = <&vcc_dvdd>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "YT-RV1109-2-V1";
		rockchip,camera-module-lens-name = "40IR-2MP-F20";
		port {
			ucam_out0: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};

    atsha204a: atsha204a@64 {
		compatible = "atmel,atsha204a";
		reg = <0x64>;
    };
};

&i2c3 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3m2_xfer>;

    touchscreen: ts@5d {
        compatible = "goodix,gt9xx";
        reg = <0x5d>;
        touch-gpio = <&gpio2 RK_PB2 IRQ_TYPE_LEVEL_LOW>;
        reset-gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_LOW>;
        max-x = <1280>;
        max-y = <800>;
        tp-size = <911>;
        tp-supply = <&vcc_3v3>;
        status = "okay";
    };

    hym8563: hym8563@51 {
        compatible = "haoyu,hym8563";
        reg = <0x51>;

        #clock-cells = <0>;
        clock-frequency = <32768>;
        clock-output-names = "xin32k";
    };
};

&i2c5 {
    status = "disable";
};

/* isp cma buffer don't fiddle with it, dual camera(1920 * 1080) need 92M buffer */
&isp_reserved {
    size = <0x20000000>;
};

&mipi_csi2 {
	status = "okay";
	ports {
		port@0 {
			mipi_csi2_input: endpoint@1 {
				remote-endpoint = <&csidphy0_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			mipi_csi2_output: endpoint@0 {
				remote-endpoint = <&cif_mipi_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&pwm4 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm4m0_pins_pull_down>;
};

&rk809 {
	regulators {
        /delete-node/ LDO_REG7;
		vcc_dvdd: LDO_REG6 {
			regulator-min-microvolt = <1300000>;
			regulator-max-microvolt = <1300000>;
		};
    };
};

&rkcif_mipi_lvds {
	status = "okay";
	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
			data-lanes = <1 2>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		cif_sditf: endpoint {
			remote-endpoint = <&isp_virt1_in>;
			data-lanes = <1 2 3 4>;
		};
	};
};

&rkisp_vir0 {
	ports {
		port@0 {
			isp_in: endpoint@0 {
				remote-endpoint = <&csi_dphy1_output>;
			};
		};
	};
};

&rkisp_vir1 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_virt1_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_sditf>;
			};
		};
	};
};

&rkispp_vir1 {
	status = "okay";
};

&rkispp {
	status = "okay";
	/* the max input w h and fps of mulit sensor */
	max-input = <1920 1080 30>;
};

&uart4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart4m1_xfer>;
};

&sdio_pwrseq{
    clocks = <&hym8563>;
    clock-names = "ext_clock";
};
